@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    h1 {
        @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
    }
    h2 {
        @apply text-lg md:text-3xl lg:text-4xl;
    }
    h3 {
        @apply text-base md:text-3xl;
    }
    h4 {
        @apply text-xs md:text-sm;
    }
    h5 {
        @apply text-xs md:text-sm;
    }
} 

@layer components {
    .btn {
        @apply py-1.5 px-4 text-center max-w-fit text-white hover:opacity-80 hover:text-neutral-100 rounded-md focus:ring-2 focus:ring-opacity-75 focus:outline-none;
    }

    .btn-outline {
        @apply py-1.5 px-4 border text-center max-w-fit hover:opacity-80 hover:text-neutral-100 rounded-md  focus:outline-none;
    }
}

.swiper {
  width: 80vw;
  max-width: 350px;
  height: 100%
}

.swiper-desktop {
    width: 80%;
    height: 300px;
}

.swiper-pagination-bullet {
    width: 40px !important;
    height: 6px !important;
    color: #000 !important;
    background: #fff !important;
    border-radius: 0px !important;
}

.swiper-pagination-bullet-active {
    background: #000;
}